@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "Cabin", sans-serif;
}

header {
  height: 6vh;
  padding: 1vh;
  background: #06f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  letter-spacing: 1px;
}

/* .divider {
  width: 100%;
  height: 1px;
  margin: 1vh auto;
  background-color: #bed4ff;
} */

main {
  display: flex;
  width: 55%;
  margin: 0 auto;
  margin-top: 2vh;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 10vw;
  padding: 2vh;
  margin: 1vh;
  background: #f7f7f8;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

button:hover {
  background: #06f;
  color: #fff;
}

button.active {
  background: #06f;
  color: #fff;
}

.content div {
  display: none;
}

.content div.active {
  display: block;
}

.content > div {
  margin-top: 1vh;
}

input {
  width: 33vw;
  padding: 2%;
  border: 1px solid #06f;
  border-radius: 10px;
  outline: none;
}

.input-label {
  margin-left: 0;
  padding: 1%;
  background: #06f;
  color: #fff;
  width: 2vw;
  border-radius: 10px;
  outline: none;
  text-align: center;
}

input:focus {
  border: none;
}

::placeholder {
  color: #06f;
}

/* .length > label {
  grid-area: label;
}

.length > input {
  grid-area: input;
} */

/* .input-label {
  position: absolute;
  right: 0;
  background-color: #efefef;
  border: solid 1px #999;
  height: 32px;
  padding: 2px 8px 2px 8px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
} */

@media only screen and (max-width: 1600px) {
  main {
    width: 75%;
  }

  .input-label {
    width: 5vw;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    width: 80%;
  }

  button {
    width: 20vw;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    width: 90%;
  }

  input {
    width: 50vw;
  }

  button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }

  button {
    width: 24vw;
    font-size: 18px;
  }

  .input-label {
    width: 8vw;
  }
}
